header ul.flex {
    gap: 16px;
}

header ul li a {
    color: var(--title);
    font-weight: 500;
    opacity: 0.8;
    font-size: 0.88rem;
}

header ul li a:hover {
  opacity: 1;
  font-size: 0.9rem;
}

header button {
    height: 60px;
    width: 60px;
}

header.flex {
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: 3%;
}

header.flex nav {
    background-color: var(--bgcheader);
    padding: 1rem 2rem;
    border-radius: 30px ;
    box-shadow: 1px 1px 20px;
}
.show-menu {
    display: none;
    border-radius: 10px;
    cursor: pointer;
}

header .fixed {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgb(40, 40, 48,0.911);
}

header .fixed ul.model {
    animation: scalable 0.8s 1;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--cheader);
}

header .fixed ul.model li {
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.77rem;
    padding-top: 4rem;
    text-align: center;
    
}

header .fixed ul.model li:last-child {
    border-bottom: none;
    padding-bottom: 50px;
}

header .fixed ul.model li a {
    font-family: fantasy;
    font-size: 40px;
    opacity: 0.8;
    transition: 0.3s;
}

header .fixed ul.model li a:hover {
    color: var(--title);
    opacity: 1;
    font-size: 42px;
}

.x {
    cursor: pointer;
    position: fixed;
    inset: 7% 84%;
}
.x:hover {
    scale: 0.91;
}

button {
    all: unset;
}

button i.icon{
    cursor: pointer;
}
button i.icon img:active{
    scale: 0.91;
}

#btn {
    border: 1px solid chocolate;
    text-align: center;
    background-color: aliceblue;
}

#btn:active {
    scale: 0.91;
}


@keyframes scalable {
    0% {scale: 0;}
    60% {scale: 1.05;}
    100% {scale: 1;}
}

@media (max-width: 700px) {
    nav {display: none;}
    .show-menu {display: block;}
    header div {display: none;}
}


